//Project non-specific styling should go here

// Side Menu 

#sidebar .menu {
	clear: both;
	display: block;
	li {
		display: inline-block;
		float: left;
		clear: left;
		list-style-type: none;
		text-align: left;
		margin-bottom: 0;
		position: relative;
		width:150px;
		&:hover {
			background-color: #fff;
		}
		a {
			display: block;
			.padding-rem(5px,5px,5px,5px);
			position: relative;
			text-decoration: none;
			color: @linkColor;
			&:hover {
				color:@linkColorHover;
			}
		}
		ul {
			.transition();
			max-height:0;
			position: absolute;
			left:100%;
			top: 0;
			width: 212px;
			z-index: 99;
			overflow: hidden;
			a {
				border-top: none;
				.padding-rem(5px; 5px; 5px; 5px);
				position: relative;
				width: 170px;
				background-color: #fff;
			}
		}
		&:hover {
			ul {
				max-height:500px;
			}
		}
	}
}

//Social Media (uses 32x32 from http://www.briangardner.com/social-media-icons/)

.social-facebook,
.social-googleplus,
.social-linkedin,
.social-pinterest,
.social-rss,
.social-twitter {
    float: left;
}

.social-facebook a,
.social-facebook a:hover,
.social-googleplus a,
.social-googleplus a:hover,
.social-linkedin a,
.social-linkedin a:hover,
.social-pinterest a,
.social-pinterest a:hover,
.social-rss a,
.social-rss a:hover,
.social-twitter a,
.social-twitter a:hover {
    display: block;
    height: 32px;
    margin: 0 0 0 10px;
    padding: 0;
    text-indent: -9999px;
    width: 32px;
}

.social-facebook a {
    background: #333 url(images/32x32_facebook.png);
}

.social-facebook a:hover {
    background: #000 url(images/32x32_facebook.png);
}

.social-googleplus a {
    background: #333 url(images/32x32_googleplus.png);
}

.social-googleplus a:hover {
    background: #000 url(images/32x32_googleplus.png);
}

.social-linkedin a {
    background: #333 url(images/32x32_linkedin.png);
}

.social-linkedin a:hover {
    background: #000 url(images/32x32_linkedin.png);
}

.social-pinterest a {
    background: #333 url(images/32x32_pinterest.png);
}

.social-pinterest a:hover {
    background: #000 url(images/32x32_pinterest.png);
}

.social-rss a {
    background: #333 url(images/32x32_rss.png);
}

.social-rss a:hover {
    background: #000 url(images/32x32_rss.png);
}

.social-twitter a {
    background: #333 url(images/32x32_twitter.png);
}

.social-twitter a:hover {
    background: #000 url(images/32x32_twitter.png);
}