/*Variables*/

//Colours
@black: #000;
@grayDarker: #1e1e1e;
@grayDark: #333;
@gray: #555;
@grayDull: #636363;
@grayLight: #999;
@grayPale: #ccc; 
@grayLighter: #eee;
@white: #fff;

@red: #7c211e;
@orange: #F7B749;

@blueDark: #111834;
@bluePale: #83dee1;

//Transitions
@defaultTransitionProperty: all;
@defaultTransitionDuration: 0.1s;
@defaultTransitionTimingFunction: ease-in-out;
@defaultTransitionDelay: 0;

//Typography
@selectionColorText: @bluePale;
@selectionColorBg: @blueDark;

@headingFontFamily: 'Lato', sans-serif;
@sansFontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;

@textColor: @grayDarker;
@headingColor: @black;

@linkColor: @red;
@linkColorHover: @orange;

@linkColorInverted: @textColor;
@linkColorHoverInverted: @linkColor;

@textInfoColor: @grayDull;

//Default Styles
@defaultBoxSizing: border-box;

//Layout 
@siteWidth: 1152px;

//Navigation
@menuBorderBottom: @grayPale;

